<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h4 class="admin_shop_index mt-2 mb-2">店舗一覧</h4>
      <div class="sort_index">
        <h4>
        <%= link_to "新着順",admin_shops_path(created_at: "true") %>
        <%= link_to "更新順",admin_shops_path(updated_at: "true") %>
        <span class="ml-3">
          <%= link_to new_admin_shop_path,class: "btn btn-warning" do %>
          <i class="fas fa-store"></i>店舗を新規登録する
          <% end %>
        </span>
        </h4>
      </div>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>作成日</th>
            <th>店舗名</th>
            <th>住所</th>
            <th>開店ステータス</th>
          </tr>
        </thead>
        <% @shops.each do |shop| %>
        <tbody>
          <tr>
            <th><%= shop.created_at.strftime("%Y-%m-%d %H:%M") %></th>
            <th><%= link_to admin_shop_path(shop.id) do %>
                <%= shop.shop_name %></th>
                <% end %>
            <th><%= shop.address %></th>
            <th class="shop_status"><%= shop.shop_status %></th>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @shops %>
    </div>
  </div>
</div>