<h2 class="shop">店舗一覧</h2>
  <% shops.each do |shop| %>
  <div class="shop_index">
      <h5>店名:
          <%= link_to shop_path(shop.id) do %>
          <%= shop.shop_name %></h5>
          <% end %>
    <div class="shops_show">
      <table class="table table-borderless">
        <thead>
          </tr>
          <tr>
            <td class="shop_image"><%= image_tag shop.shop_image,size: "300x200" %></td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td><%= shop.bussiness_hour %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= shop.address %></td>
          </tr>
          <tr>
            <th>エリア</th>
            <td><%= shop.area.prefecture %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <% end %>