<h2>住所</h2>
<p><%= shop.address %></p>
<input id="address" type="textbox">
<input type="button" value="検索する" onclick="codeAddress()">

<div id="display"></div>

<div id='map',class='map'></div>

<style>
#map {
  height: 500px;
  width: 500px;
}
</style>

<script>
var infoWindow;
let map
let geocoder

const display = document.getElementById('display')
// マップに表示するセンターポジションの設定
function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: parseFloat("<%= shop.latitude %>"), lng: parseFloat("<%= shop.longitude %>")},
          zoom: 14,
      });
      // addressカラムに入っている住所にピンを刺すための記述
          var contentString = "<%= @shop.address %>";
          var marker = new google.maps.Marker({
              position:{lat: parseFloat("<%= shop.latitude %>"), lng: parseFloat("<%= shop.longitude %>")},
              map: map,
              title: contentString
          });
          infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
        content: '<div class="sample"><%= shop.shop_name %>,<%= shop.address %></div>' // 吹き出しに表示する内容
        });
       marker.addListener('click', function() { // マーカーをクリックしたとき
           infoWindow.open(map, marker); // 吹き出しの表示
          });
}

// 検索した際にピンが刺される記述
function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });

      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>