  <h4 class="shop mt-3">店舗 : <%= shop.shop_name %></h4>
  <div class="shop_show_image">
    <%= image_tag shop.get_shop_image(300,200),class: "shop_show_images" %>
  </div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>営業時間</th>
        <td><%= shop.bussiness_hour %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= shop.address %></td>
      </tr>
      <tr>
        <th>エリア</th>
        <td><%= shop.area.prefecture %></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td><%= shop.shop_status %></td>
      </tr>
      <tr>
        <th>投稿数</th>
        <td><%= posts.count %>件</td>
      </tr>
      <tr>
        <th>平均評価</th>
        <tr></tr>
      </tr>
    </thead>
  </table>
  <div class="row mx-auto">
    <div class="edit_botton d-block mx-auto mb-5">
      <%= link_to edit_shop_path(shop.id) do %>
        <button type="button" class="btn btn-outline-primary">編集する</button>
      <% end %>
    </div>
  </div>