<div class="container">
  <h2 class="shop">店舗一覧</h2>
  <div class="sort_index">
    <h4>
      <%= link_to "新着順",shops_path(create: "true"),class: "btn btn--red btn--cubic" %>
      <%= link_to "更新順",shops_path(update: "true"),class: "btn btn--yellow btn--cubic" %>
      <%= link_to "投稿数が多い店舗",shops_path(popular: "true"),class: "btn btn--water btn--cubic" %>
    </h4>
  </div>
  <div class="row" style = "margin-top: 50px">
    <%= render 'user/shops/index', shops: @shops %>
  </div>
  <%= paginate @shops %>
</div>
