<div class="container">
  <h2 class="shop">店舗一覧</h2>
  <div class="sort_index">
    <h4>
      <%= link_to "新着順",shops_path(create: "true") %>
      <%= link_to "更新順",shops_path(update: "true") %>
      <%= link_to "人気順",shops_path(popular: "true") %>
    </h4>
  </div>
  <div class="row" style = "margin-top: 50px">
    <%= render 'user/shops/index', shops: @shops %>
  </div>
  <%= paginate @shops %>
</div>
