<div class="container">
  <div>
    <h1>店舗検索 全:<%= @result_shops.total_count %>件</h1>
    <%= search_form_for @search_shop, url:search_shops_path do |f| %>
    <div class="search-group">
      <div class="menu-gruop col-4">
        <%= f.label :shop_name_cont, '店舗名' %><br>
        <%= f.search_field :shop_name_cont ,class: "form-control" %><br>
      </div>
      <div class="area-group col-3">
        <%= f.label :area_id_eq, "エリア" %><br>
        <%= f.select :area_id_eq, options_from_collection_for_select(Area.all, :id, :prefecture),include_blank: '指定なし' %>
      </div>
    </div>
    <div class="search-button mt-3 ml-3">
      <%=f.submit "検索", class: "button_shop" %>
    </div>
  </div>
    <% end %>
  <div class="sort_index mt-5 mb-3">
    <h4>
    <%= link_to "新着順",search_shops_path(created_at: "true") %>
    
    </h4>
  </div>
  <div class="post_wrapper">
    <%= render 'user/shops/shop_search',result_shops: @result_shops %>
  </div>
  <%= paginate @result_shops %>
</div>