<div class="container">
  <div class="row" style = "margin-top: 50px">
    <div class="shop_show col-5">
      <div class="shop_show_area">
        <%= render 'user/shops/shop_show', shop: @shop,posts: @posts %>
      </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <%= render 'user/shops/map_show', shop: @shop %>
    </div>
  </div>
  <div class="sort_index mt-5">
    <h4>
    <%= link_to "新着順",shop_path(created_at: "true") %>
    <%= link_to "評価順",shop_path(rate: "true") %>
    </h4>
  </div>
  <div class="post_wrapper" style = "margin-top: 50px">
    <%= render 'user/posts/index', posts: @posts %>
  </div>
  <% paginate @posts %>
</div>
