<div class="container">
  <div class="row" style = "margin-top: 50px">
    <div class="shop_show col-5">
      <div class="shop_show_area">
        <%= render 'user/shops/shop_show', shop: @shop,posts: @posts %>
      </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <%= render 'user/shops/map_show', shop: @shop %>
    </div>
  </div>
  <div class="sort_index mt-5">
    <h4>
      <%= link_to "新着順",shop_path(create: "true"),class: "btn btn--red btn--cubic"%>
      <%= link_to "評価順",shop_path(rate: "true"),class: "btn btn--yellow btn--cubic" %>
      <%= link_to "閲覧数順",shop_path(impressions_count: "true"),class: "btn btn--green btn--cubic" %>
      <%= link_to "いいね順",shop_path(favorite: "true"),class: "btn btn--water btn--cubic" %>
      <%= link_to "コメント順",shop_path(post_comment: "true"),class: "btn btn--blue btn--cubic" %>
    </h4>
  </div>
  <div class="post_wrapper" style = "margin-top: 50px">
    <%= render 'user/posts/index', posts: @posts %>
  </div>
  <% paginate @posts %>
</div>
