<div class="container">
  <div class="row" style = "margin-top: 50px">
    <div class="col-6">
      <h4 class="shop_index">店舗詳細</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <td><%= link_to shop_path(@shop.id) do %>
            <%= @shop.shop_name %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= image_tag @shop.shop_image %></td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td><%= @shop.bussiness_hour %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <td><%= @shop.shop_status %></td>
          </tr>
        </thead>
      </table>
      <div class="edit_buttom">
        <%= link_to "編集する",edit_shop_path(@shop.id) %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
      ここにお店に紐づいている投稿記事を表示
      </div>
    </div>
  </div>
</div>
