<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-8">
      <h4>エリア管理画面</h4>
      <% @areas.each do |area| %>
      <table>
        <thead>
          <tr>
            <th><%= area.prefecture %></th>
            <th><%= link_to "削除する", admin_area_path(area.id), method: :delete, data: {confirm: "削除しますか？"} %></th>
          </tr>
        </thead>
      </table>
      <% end %>
      <%= form_with model:@area_new do |f| %>
      <div class="row col-8">
        <div class="row form_group col-10">
          <%= f.label :prefecture,"エリア追加" %>
          <%= f.text_field :prefecture, class: "form-control" %>
        </div>
        <div class="row form-button col-8" style="margin-top :20px">
          <%= f.submit "追加する" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>