<div class="container">
  <div class="row" style="margin-top :50px">
    <div class="col-5">
      <h3 class="user_show">
        <%= @user.user_name %>さんのページ
      </h3>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th><b>ニックネーム</b></th>
            <td><%= @user.user_name %></td>
          </tr>
          <tr>
            <th><b>メールアドレス</b></th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th><b>自己紹介文</b></th>
            <td><%= @user.introduction %></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-7" style="margin-top: 40px">
      <table class="table table-borderless">
        <tr>
          <th><b>プロフィール画像</b></th>
          <td><%= image_tag @user.get_profile_image(150,150) %></td>
        </tr>
        <tr>
          <th><b>投稿数</b></th>
          <td>カウント</td>
        </tr>
        <tr>
          <th><b>いいね数</b></th>
          <td>カウント</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <%= link_to "編集する", edit_user_path(@user.id) %>
    </div>
    <div class="col-2">
      退会する
    </div>
    <div class="col-2">
      <%= link_to "投稿一覧", posts_path %>
    </div>
  </div>
</div>
