<div class="home_index">
  <% posts.each do |post| %>
  <div class="my_post mb-2 pl-2 pr-2 mr-5 ml-2">
    <div class="mypost_title"><h4>
      <%= link_to post_path(post.id) do %>
      <%= post.menu %></h4>
      <% end %>
    </div>
    <div class="mypost_image">
      <%= image_tag post.post_get_image(150,100),class: "home_image" %>
    </div>
    <div class="rate_star">
      <div id="star-rate-<%= post.id %>"></div>
        <script>
          $('#star-rate-<%= post.id %>').empty();
          $('#star-rate-<%= post.id %>').raty({
            size: 20,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn :  '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
        </script>
    </div>
    <div class="area_mypost">
      <%= post.area.prefecture %>
    </div>
  </div>
  <% end %>
</div>