  <h4>æ¤œç´¢æ¬„</h4>
    <div class="content_top">
      <h5>ãƒ¬ãƒ“ãƒ¥ãƒ¼æ¤œç´¢æ¬„</h5><br>
        <%= search_form_for @search, url:search_posts_path do |f| %>
        <div class="search-group">
          <div class="menu-gruop col-12">
            <!--_contã«ã‚ˆã£ã¦éƒ¨åˆ†ä¸€è‡´æ¤œç´¢ã‚’ã—ã¦ã„ã‚‹-->
            <%= f.label :menu_cont, 'ãƒ¬ãƒ“ãƒ¥ãƒ¼ã‚¿ã‚¤ãƒˆãƒ«' %><br>
            <%= f.search_field :menu_cont , placeholder: "ã‚‰ãƒ¼ã‚ã‚“", class: "form-control" %><br>
          </div>
          <div class="body-group col-12">
            <%= f.label :"æœ¬æ–‡" %><br>
            <%= f.search_field :body_cont , placeholder: "ç¾Žå‘³ã—ã‹ã£ãŸã§ã™", class: "form-control" %>
          </div>
          <!--_eqã«ã‚ˆã£ã¦å®Œå…¨ä¸€è‡´æ¤œç´¢ã‚’ã—ã¦ã„ã‚‹-->
          <div class="area-group mx-auto">
            <%= f.label :area_id_eq, "ã‚¨ãƒªã‚¢" %><br>
            <%= f.select :area_id_eq, options_from_collection_for_select(Area.all, :id, :prefecture),include_blank: 'æŒ‡å®šãªã—' %>
          </div>
          <!--tagsãƒ†ãƒ¼ãƒ–ãƒ«ã®tag_nameã‚«ãƒ©ãƒ ã‚’æ¤œç´¢ã—ã¦ã„ã‚‹-->
          <div class="area-group mx-auto">
            <%= f.label :tags_tag_name_eq, "ã‚¿ã‚°æ¤œç´¢" %><br>
            <%= f.select :tags_tag_name_eq, options_from_collection_for_select(Tag.all, :tag_name, :tag_name),include_blank: 'æŒ‡å®šãªã—' %>
          </div>
          <!--gteqã§~ä»¥ä¸Šã®æ¤œç´¢ã‚’ã—ã¦ã„ã‚‹-->
          <div class="rate-group">
            <%= f.label :rate,"5æ®µéšŽè©•ä¾¡" %><br>
            <%= f.radio_button :rate_gteq, 0 %>ðŸŒŸ0ã€œ
            <%= f.radio_button :rate_gteq, 1 %>ðŸŒŸ 1ã€œ
            <%= f.radio_button :rate_gteq, 2 %>ðŸŒŸ 2ã€œ<br>
            <%= f.radio_button :rate_gteq, 3 %>ðŸŒŸ 3ã€œ
            <%= f.radio_button :rate_gteq, 4 %>ðŸŒŸ 4ã€œ
            <%= f.radio_button :rate_gteq, 5 %>ðŸŒŸ 5
          </div>
          <%= f.submit 'æ¤œç´¢',class: "button_post" %>
          <% end %>
        </div>
    </div>