  <h4>æ¤œç´¢æ¬„</h4>
    <div class="content_top">
      <h5>ãƒ¬ãƒ“ãƒ¥ãƒ¼æ¤œç´¢æ¬„</h5><br>
      <%= search_form_for @search, url:search_posts_path do |f| %>
      <div class="search-group">
        <div class="menu-gruop">
          <%= f.label :menu_cont, 'ãƒ¬ãƒ“ãƒ¥ãƒ¼ã‚¿ã‚¤ãƒˆãƒ«' %><br>
          <%= f.search_field :menu_cont , placeholder: "ã‚‰ãƒ¼ã‚ã‚“", class: "form-control" %><br>
        </div>
        <div class="body-group">
          <%= f.label :"æœ¬æ–‡" %><br>
          <%= f.search_field :body_cont , placeholder: "ç¾Žå‘³ã—ã‹ã£ãŸã§ã™", class: "form-control" %>
        </div>
        <div class="area-group">
          <%= f.label :area_prefecture_cont, "ã‚¨ãƒªã‚¢" %><br>
          <%= f.search_field :area_prefecture_cont, placeholder: "çŸ³å·çœŒorå¯Œå±±çœŒorç¦äº•çœŒ", class: "form-control" %>
        </div>
        <div class="rate-group">
          <%= f.label :rate,"5æ®µéšŽè©•ä¾¡" %><br>
          <%= f.radio_button :rate_gteq, 0 %>ðŸŒŸ0ã€œ
          <%= f.radio_button :rate_gteq, 1 %>ðŸŒŸ 1ã€œ
          <%= f.radio_button :rate_gteq, 2 %>ðŸŒŸ 2ã€œ<br>
          <%= f.radio_button :rate_gteq, 3 %>ðŸŒŸ 3ã€œ
          <%= f.radio_button :rate_gteq, 4 %>ðŸŒŸ 4ã€œ
          <%= f.radio_button :rate_eq, 5 %>ðŸŒŸ 5
        </div>
        <%= f.submit 'æ¤œç´¢',class: "button_post" %>
        <% end %>
      </div>
    </div>