<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-12 mx-auto">
      <h4 class="post_new">レビュー投稿</h4>
      <%= form_with model:@post, url:posts_path do |f| %>
      <div class="form_group col-8">
        <%= f.label :menu, "タイトル" %>
        <%= f.text_field :menu, class: "form-control" %>
      </div>

      <div class="form_group col-8">
        <%= f.label :post_image, "投稿画像" %></br>
        <%= f.file_field :post_image, accept: 'image/*' %>
      </div>

      <div class="form_group col-8">
        <%= f.label :body, "本文" %>
        <%= f.text_area :body, size: "40x10", class: "form-control" %>
      </div>

      <div class="form_group col-8">
        <%= f.label :tag, "タグ" %>
      </div>

      <div class="form_group col-8">
        <%= f.label :rate, "評価" %>
      </div>

      <div class="form_group col-8">
        <%= f.label :shop_name %>
      </div>

      <div class="button_field">
        <%= f.submit "新規投稿" %>
      </div>
      <% end %>
    </div>
  </div>
</div>