<div class="container">
  <div class="row" style="margin-top :30px">
    <div class="col-12 mx-auto">
      <h1>レビュー検索 全:<%= @results.count %>件</h1>
      <%= search_form_for @search, url:search_posts_path do |f| %>
      <div class="search-group">
        <div class="menu-gruop col-4">
          <%= f.label :menu_cont, 'レビュータイトル' %><br>
          <%= f.search_field :menu_cont , placeholder: "らーめん", class: "form-control" %><br>
        </div>
        <div class="body-group col-6">
          <%= f.label :"本文" %><br>
          <%= f.search_field :body_cont , placeholder: "美味しかったです", class: "form-control" %>
        </div>
        <div class="area-group col-3">
          <%= f.label :area_prefecture_cont, "エリア" %><br>
          <%= f.search_field :area_prefecture_cont, placeholder: "石川県or富山県or福井県", class: "form-control" %>
        </div>
        <div class="rate-group col-6">
          <%= f.label :rate,"5段階評価" %><br>
          <%= f.radio_button :rate_gteq, 0 %>0〜
          <%= f.radio_button :rate_gteq, 1 %> 1〜
          <%= f.radio_button :rate_gteq, 2 %> 2〜
          <%= f.radio_button :rate_gteq, 3 %> 3〜
          <%= f.radio_button :rate_gteq, 4 %> 4〜
          <%= f.radio_button :rate_eq, 5 %> 5
        </div>
        <%= f.submit '検索' %>
        <%= form_tag search_posts_path, method: :get, class: 'boards__searchForm' do %>
            <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
            {
              prompt: 'タグで絞り込み検索',
              onchange: 'submit(this.form);'
            }%>
        <% end %>
      </div>
    </div>
      <% end %>
      <div class="row">
        <table class="table table-borderless">
        <thead>
          <tr>
            <th><%= sort_link(@search, :menu, "新着順", created_at: :DESC) %> |
                <%= sort_link(@search, :rate, "評価順", rate: :ASC) %></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
          <tr>
            <th><%= link_to post_path(result.id) do %>
                <%= result.menu %>
                <% end %></th>
          </tr>
          <tr>
            <td><%= image_tag result.post_get_image(300,200) %></td>
          </tr>
          <tr>
            <th>店舗名</th>
            <td><%= result.shop.shop_name %></td>
          </tr>
          <tr>
            <th>エリア</th>
            <td><%= result.area.prefecture %></td>
          </tr>
          <tr>
            <th>評価</th>
            <td>
              <div id="star-rate-<%= result.id %>"></div>
                <script>
                $('#star-rate-<%= result.id %>').raty({
                  size: 20,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn :  '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= result.rate %>,
                });
                </script>
            </td>
          </tr>
          <% end %>
        </tbody>
        </table>
      </div>
  </div>
</div>