<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="post_show col-6 mx-auto" style="margin-right: 50px">
      <div class="shop_name mt-3">
        <h4>タイトル :
        <%= @post.menu %>
        </h4>
      </div>
      <div class="post_image">
        <%= image_tag @post.post_get_image(400,300) %>
      </div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>店名</th>
            <td><%= link_to shop_path(@shop.id) do %>
                <%= @post.shop.shop_name %>
                <% end %></td>
          </tr>
          <tr>
            <th>本文</th>
            <td><%= @post.body %></td>
          </tr>
        </thead>
        <tbody>
        <div class="rate col-5">
          <tr>
            <th>評価</th>
            <td><div id="star-rate-<%= @post.id %>"></div>
                <script>
                $('#star-rate-<%= @post.id %>').empty();
                $('#star-rate-<%= @post.id %>').raty({
                  size: 20,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn :  '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= @post.rate %>,
                });
                </script></td>
          </tr>
        </div>
          <tr>
            <th style=white-space: nowrap>いいね</th>
            <td id="favorite_buttons_<%= @post.id %>">
              <%= render 'user/favorites/favorite', post: @post %></td>
          </tr>
          <tr>
            <th>エリア</th>
            <td><%= @post.area.prefecture %></td>
          </tr>
          <tr>
            <th>タグ</th>
            <td class="tags_name">
              <% @post.tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row mx-auto.d-block">
        <!--他人の編集ページを表示させないようにする。-->
        <% if @user.id == current_user.id %>
        <div class="edit_botton d-block mx-auto mb-5">
          <%= link_to edit_post_path(@post.id) do %>
            <button type="button" class="btn btn-outline-primary">編集する</button>
          <% end %>
        </div>
        <div class="delete-button d-block mx-auto mb-5">
          <%= link_to post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"} do %>
            <button type="button" class="btn btn-outline-danger">削除する</button>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-5">
        <h3 class="post_user"><b>投稿ユーザー</b></h3>
        <div class="user_name">
          <h4>
          <%= link_to user_path(@user.id) do %>
          <%= @post.user.user_name %>
          <% end %>
          </h4>
        </div>
      <div class="user_image">
        <%= image_tag @post.user.get_profile_image(150,150) %>
      </div>
      <div id="post_<%= @post.id %>">
        <p class="comment-count">コメント件数:<%= @post.post_comments.count %></p>
        <h4 class="user_comment">コメント一覧</h4>
        <div id="comment">
          <%= render 'user/post_comments/comment', post: @post %>
        </div>
        <div class="comment_send">
          <%= render 'user/post_comments/form',post: @post, post_comment: @post_comment %>
        </div>
      </div>
    </div>
  </div>
</div>