<div class="container">
  <div class="row" style="margin-top :30px">
    <div class="col-12 mx-auto">
      <h1>エリア件数 全:<%= @result_areas.count %>件</h1>
      <%= search_form_for @search_area, url:search_areas_path do |f| %>
      <div class="search-group">
        <div class="menu-gruop col-4">
          <%= f.label :prefecture_cont, 'エリア' %><br>
          <%= f.collection_select :prefecture_cont, Area.all, :id, :prefecture ,class: "form-control" %><br>
        </div>
      </div>
      <div class="submit-button">
        <%= f.submit '検索' %>
      </div>
      <% end %>
    </div>
    <div class="col-12 mx-auto">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>エリア</th>
          </tr>
        </thead>
        <tbody>
          <% @result_areas.each do |result| %>
          <tr>
            <th><%= link_to post_path(result.id) do %>
                <%= result.prefecture %>
                <% end %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>