<header class="Header">
  <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color:#99FFFF;" >
    <div class="container">
      <a class="navbar-brand" href="/"><span>Hokuriku_men</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <div class="search_form mx-auto">
          <%= search_form_for @search,url:search_posts_path do |f| %>
          <%= f.label :menu_cont, 'レビュー検索' %>
          <%= f.search_field :menu_cont %>
          <%= f.submit '検索' %>
        <% end %>
        </div>
        <% if admin_signed_in? %>
          <li>
            <%= link_to "ユーザー一覧", admin_users_path %>
          </li>
          <li>
            <%= link_to "投稿一覧", admin_posts_path %>
          </li>
          <li>
            <%= link_to "店舗一覧", admin_shops_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to "マイページ", user_path(current_user) %>
          </li>
          <li>
            <%= link_to "投稿一覧", posts_path %>
          </li>
          <li>
            <%= link_to "店舗一覧", shops_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "このサイトについて", about_path %>
          </li>
          <li>
            <%= link_to "投稿一覧", posts_path %>
          </li>
          <li>
            <%= link_to "店舗一覧", shops_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>