<header class="Header">
  <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color:#000000;" >
    <div class="container">
      <a class="navbar-brand d-grid mx-auto" href="/"><%= image_tag('header_logo.png', size: "150x150") %></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li>
            <%= link_to "ユーザー一覧", admin_users_path %>
          </li>
          <li>
            <%= link_to "投稿一覧", admin_posts_path %>
          </li>
          <li>
            <%= link_to "店舗一覧", admin_shops_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
        <h5 class="header_name mr-5"><%= current_user.user_name %>さんようこそ</h5>
          <li>
            <%= link_to user_path(current_user) do %>
            <button type="button" class="btn btn-info mr-4">マイページ</button>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path do %>
            <button type="button" class="btn btn-danger">ログアウト</button>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to about_path do %>
            <button type="button" class="btn btn-info mr-4">初めての方へ</button>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-warning mr-4">ログイン</button>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
            <button type="button" class="btn btn-success mr-4">新規登録</button>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>